src/*.exe
src/Emucoin
src/Emucoind
src/test_Emucoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.Emucoin

# Compilation and Qt preprocessor part
*.qm
Makefile
Emucoin-qt
Emucoin-Qt.app
Emucoin-Qt.dmg
qt_helper.sh

# Unit-tests
Makefile.test
Emucoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
!src/leveldb/Makefile
